* {
    margin: 0;
    padding: 0;
}
.header {
    width: 100%;
}
.header img {
    width: 100%;
    height: 100%;
}
header {
    width: 100%;
}
header .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .container h1 {
    margin: 15px 0;
}
header .container h1 a {
    font-size: 33px;
    font-family: Poppins;
    color: #5FCF80;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
}
header .container .right {
    display: flex;
    align-items: center;
}
header .container .right button {
    width: 135px;
    height: 40px;
    background-color: rgb(95, 207, 128);
    opacity: 0.9;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    color: #fff;
    font-family: Poppins;
    cursor: pointer;
    transition: 0.3s;
}
header .container .right button:hover {
    opacity: 1;
}
header .container .right ul {
    display: flex;
    list-style: none;
    margin-right: 25px;
}
header .container .right ul li a:hover {
    color: #5FCF80;
}
header .container .right ul .home {
    color: #5FCF80;
}
header .container .right ul li a {
    font-size: 18px;
    color: #37423B;
    font-family: Poppins;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 0 10px 30px;
    justify-content: space-between;
}
header .container .right .hamburger-menu {
    display: none;
    margin-right: 10px;
}
header .container .right .hamburger-menu i {
    color: black;
    font-size: 25px;
}
.first {
    width: 100%;
    height: 65vh;
    overflow: hidden;
    background-image: url(./img/hero-bg.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
.first .container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
.first .container .text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 20%;
}
.first .container .text h1 {
    font-size: 48px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-family: Poppins;
    line-height: 56px;
}
.first .container .text h2 {
    font-size: 24px;
    color: rgb(238, 238, 238);
    font-weight: 500;
    font-family: Raleway;
    line-height: 2.5;
}
.first .container .text button {
    width: 165px;
    height: 46px;
    font-family: Raleway;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 50px;
    border: 3px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 20px;
}
.first .container .text button:hover {
    background-color: #5FCF80;
    border: none;
}
.about {
    width: 100%;
    height: auto;
    margin-top: 70px;
}
.about .container {
    width: 90%;
    margin: 0 auto;
}
.about .container .row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.about .container .row .left {
    width: 570px;
    height: 409px;
}
.about .container .row .right {
    width: 570px;
    height: 409px;
}
.about .container .row .left img {
    width: 100%;
    height: 100%;
}
.about .container .row .right h3 {
    color: #444444;
    font-size: 26px;
    margin: 0 0 8px;
    font-family: Raleway, sans-serif;
    font-weight: 600;
}
.about .container .row .right .type {
    color: #444444;
    font-size: 16px;
    margin: 0 0 16px;
    font-family: Open Sans, sans-serif;
    font-style: italic;
    font-weight: 500;
    line-height: 1.5;
}
.about .container .row .right p {
    color: #444444;
    font-size: 16px;
    margin: 0 0 16px;
    font-family: Open Sans, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 25px;
}
.about .container .row .right ul {
    list-style: none;
}
.about .container .row .right ul li {
    color: #444444;
    font-size: 16px;
    padding: 0 0 10px;
    font-family: Open Sans, sans-serif;
}
.about .container .row .right ul .icontext {
    line-height: 1.7;
}
.about .container .row .right ul li i {
    color: #5fcf80;
    font-size: 25px;
}
.counter {
    width: 100%;
    height: 175px;
    margin-top: 70px;
    background-color: #f6f7f6;
}
.counter .container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
.counter .container .row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.counter .container .row .one {
    width: 285px;
    height: 114px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.counter .container .row .one span {
    color: #5fcf80;
    font-size: 48px;
    font-weight: 700;
    display: block;
    font-family: Open Sans;
}
.counter .container .row .one p {
    color: #37423b;
    font-size: 15px;
    font-weight: 600;
    font-family: Raleway;
}
.fourth {
    width: 100%;
    height: 551px;
    margin-top: 70px;
}
.fourth .container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
.fourth .container .row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.fourth .container .row .firstcard {
    width: 330px;
    height: 431px;
    background-color: #5fcf80;
    padding: 30px;
    border-radius: 10px;
}
.fourth .container .row .firstcard h3 {
    color: #fff;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 30px;
    font-family: Raleway;
}
.fourth .container .row .firstcard p {
    font-size: 16px;
    font-family: Open Sans;
    margin: 0 0 30px;
    width: 295px;
    height: 192px;
    background-color: #5FCF80;
    line-height: 1.5;
    letter-spacing: 1px;
}
.fourth .container .row .firstcard .buttons {
    width: 164px;
    height: 38px;
    background-color: #ffffff33;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 55px auto 0 auto;
}
.fourth .container .row .firstcard .buttons button {
    background-color: transparent;
    font-size: 16px;
    color: #fff;
    font-family: Open Sans;
    border: none;
}
.fourth .container .row .firstcard .buttons button i {
    font-size: 10px;
}
.fourth .container .row .cart {
    width: 200px;
    height: 290px;
    background-color: #fff;
    border: 1px solid #eef0ef;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px 30px;
    margin-top: 40px;
}
.fourth .container .row .cart .icons {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: #ECF9F0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.fourth .container .row .cart .icons i {
    color: #5fcf80;
    font-size: 32px;
}
.fourth .container .row .cart h4 {
    font-size: 20px;
    font-weight: 700;
    font-family: Raleway;
    color: #444444;
    text-align: center;
}
.fourth .container .row .cart p {
    color: #848484;
    font-size: 15px;
    font-family: Open Sans;
    text-align: center;
}
.fifth {
    width: 100%;
    height: 400px;
}
.fifth .container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
.fifth .container .row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.fifth .container .row .box1 {
    width: 260px;
    height: 40px;
    padding: 20px;
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #eef0ef;
}
.fifth .container .row .box1 i {
    font-size: 32px;
    color: #ffbb2c;
}
.fifth .container .row .box1 p {
    font-size: 18px;
    font-family: Open Sans;
    font-weight: 700;
    color: #37423B;
    margin-left: 10px;
}

@media only screen and (max-width:576px) {
    .header {
        width: 100%;
    }
    .header img {
        width: 100%;
        height: 100%;
    }
    header .container .right .hamburger-menu {
        display: block;
    }
    header .container .right ul {
        display: none;
    }
    .first {
        width: 100%;
        height: 80vh;
        background-image: url(./img/hero-bg.jpg);
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
    }
    .first .container {
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }
    .first .container .text {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 25%;
    }
    .first .container .text h1 {
        font-size: 28px;
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-family: Poppins;
        line-height: 35px;
    }
    .first .container .text h2 {
        font-size: 18px;
        color: rgb(238, 238, 238);
        font-weight: 500;
        font-family: Raleway;
        margin-top: 5px;
    }
    .about {
        width: 100%;
        height: 530px;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .about .container {
        width: 90%;
        margin: 0 auto;
    }
    .about .container .row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .about .container .row .left {
        width: 570px;
        height: 409px;
        margin: 0 auto 50px;
    }
    .about .container .row .right {
        width: 570px;
        height: 409px;
        margin: 0 auto;
    }
    .about .container .row .left img {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width:576px) and (max-width:768px) {
    .header {
        width: 100%;
    }
    .header img {
        width: 100%;
        height: 100%;
    }
    header .container .right .hamburger-menu {
        display: block;
    }
    header .container .right ul {
        display: none;
    }
    .first {
        width: 100%;
        height: 80vh;
        background-image: url(./img/hero-bg.jpg);
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
    }
    .first .container {
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }
    .first .container .text {
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .first .container .text h1 {
        font-size: 28px;
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-family: Poppins;
        line-height: 35px;
    }
    .first .container .text h2 {
        font-size: 18px;
        color: rgb(238, 238, 238);
        font-weight: 500;
        font-family: Raleway;
        line-height: 2.5;
    }
    .about {
        width: 100%;
        height: 530px;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .about .container {
        width: 90%;
        margin: 0 auto;
    }
    .about .container .row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .about .container .row .left {
        width: 570px;
        height: 409px;
        margin: 0 auto 50px;
    }
    .about .container .row .right {
        width: 570px;
        height: 409px;
        margin: 0 auto;
    }
    .about .container .row .left img {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width:768px) and (max-width:992px) {
    .header {
        width: 100%;
    }
    .header img {
        width: 100%;
        height: 100%;
    }
    header .container .right .hamburger-menu {
        display: block;
    }
    header .container .right ul {
        display: none;
    }
    .first {
        width: 100%;
        height: 60vh;
        background-image: url(./img/hero-bg.jpg);
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
    }
    .first .container {
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }
    .first .container .text {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 5%;
    }
    .about {
        width: 100%;
        height: 530px;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .about .container {
        width: 90%;
        margin: 0 auto;
    }
    .about .container .row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .about .container .row .left {
        width: 570px;
        height: 409px;
        margin: 0 auto 50px;
    }
    .about .container .row .right {
        width: 570px;
        height: 409px;
        margin: 0 auto;
    }
    .about .container .row .left img {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width:992px) and (max-width:1240px) {
    .header {
        width: 100%;
    }
    .header img {
        width: 100%;
        height: 100%;
    }
    header .container .right ul li a {
        font-size: 11px;
        color: #37423B;
        font-family: Poppins;
        text-decoration: none;
        font-weight: 500;
        padding: 10px 0 10px 30px;
    }
    .first {
        width: 100%;
        height: 60vh;
        background-image: url(./img/hero-bg.jpg);
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
    }
    .first .container {
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }
    .first .container .text {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
    }
    .about {
        width: 100%;
        height: 530px;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .about .container {
        width: 90%;
        margin: 0 auto;
    }
    .about .container .row {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .about .container .row .left {
        width: 49%;
        height: 409px;
    }
    .about .container .row .right {
        width: 49%;
        height: 409px;
    }
    .about .container .row .left img {
        width: 100%;
        height: 100%;
    }
}